.error {
  color: red;
}

@media only screen and (max-width: 768px) {
  .ui.container.mobile-base {
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* margin-left: 19%!important; */
    height: 100vh
  }
}


.ui.container.base {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 19%!important;
  height: 100vh
}


.ui.vertical.menu {
  width: 17rem;
}


*,
h1,
h2,
h3,
h4,
h5,
p,
.ui.modal > .header,
.ui.button,
button,
input,
optgroup,
select,
textarea,
.ui.card > .content > .header,
.ui.cards > .card > .content > .header,
.ui.card > .extra,
.ui.cards > .card > .extra {
  font-family: 'Nunito Sans';
}


.colorpicker {
  margin: 4% 0;
}

tr:hover {
  cursor: pointer;
  background-color: #f9fafb;
}

.images-table {
  margin-top: 10px;
  display: flex;
}

img.symbol-image {
  width: 90%;
  border: 1px solid lightgray;
  padding: 1%;
  border-radius: 5px;
  margin: 2px;
}

.warning {
  color: white;
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  background-color: #fd3a4a;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.1);
}

.creator-course-title-bar > h2,
.student-course-title-bar {
  float: left;
  margin: 0;
}

.creator-course-title-bar > button {
  float: right;
}

.creator-course-details > *,
.student-course-details > * {
  clear: both;
  font-style: italic;
  margin: 0;
}

.creator-course-description,
.student-course-description {
  margin-top: 1rem;
}

.ui.table tr td,
.ui.table thead th {
  border-left: 1px solid rgba(34, 36, 38, 0.1);
}

.cell {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  padding: 8px;
  width: 100%;
}

.cell-overflow {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
