.error {
  color: red;
}

.app-base {
  width: 100%;
}

.ui.vertical.menu {
  width: 250px;
}

div.base {
  margin-left: 275px;
  margin-right: 25px;
  max-width: 1140px;
}

.app-base {
  padding-top: 35px;
}

*,
h1,
h2,
h3,
h4,
h5,
p,
.ui.modal > .header,
.ui.button,
button,
input,
optgroup,
select,
textarea,
.ui.card > .content > .header,
.ui.cards > .card > .content > .header,
.ui.card > .extra,
.ui.cards > .card > .extra {
  /* font-family: 'Nunito Sans'; */
  font-family: 'Muli';
}

.colorpicker {
  margin: 4% 0;
}

tr:hover {
  cursor: pointer;
  background-color: #f9fafb;
}

.images-table {
  margin-top: 10px;
  display: flex;
}

img.symbol-image {
  width: 90%;
  border: 1px solid lightgray;
  padding: 1%;
  border-radius: 5px;
  margin: 2px;
}

.warning {
  color: white;
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  background-color: #fd3a4a;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.1);
}

.creator-course-title-bar > h2,
.student-course-title-bar {
  float: left;
  margin: 0;
}

.creator-course-title-bar > button {
  float: right;
}

.creator-course-details > *,
.student-course-details > * {
  clear: both;
  font-style: italic;
  margin: 0;
}

.creator-course-description,
.student-course-description {
  margin-top: 1rem;
}

.ui.table tr td,
.ui.table thead th {
  border-left: 1px solid rgba(34, 36, 38, 0.1);
}

.cell {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  padding: 8px;
  width: 100%;
}

.cell-overflow {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.base-login,
.mobile-base-login {
  margin: 0 auto;
}

.google.ui.message {
  background-color: #4285f4;
  color: white;
}

.google a {
  color: white;
}

.answer.incorrect {
  position: absolute;
  z-index: 1000;
  border: 4px solid red;
  width: 79vw;
  border-radius: 5px;
  text-align: center;
  background: red;
  color: white;
  top: 10px;
}

.answer.correct {
  position: absolute;
  z-index: 1000;
  border: 4px solid green;
  width: 79vw;
  border-radius: 5px;
  text-align: center;
  background: green;
  color: white;
  top: 10px;
}

.image-choice {
  transition: transform 0.2s; /* Animation */
  background: white;
}

.image-choice:hover {
  transform: scale(
    1.03
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.alert {
  position: absolute;
  z-index: 1000;
  top: 2%;
  left: 36%;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  background: red;
  color: white;
}

@media only screen and (max-width: 768px) {
  .ui.container.mobile-base {
    padding-top: 5rem;
    padding-bottom: 3rem;
    height: 100vh;
  }

  .app-base {
    margin-left: 0;
    padding-top: 0;
  }
}
